.container {
   //
   .toggle-icon {
   }
   .menu {
      z-index: 10000;
      position: absolute;

      .item {
         font-size: 1.6rem;

         .label {
            padding: 4px;
            margin-left: 1.2rem;
         }
      }
   }
}
