.wrapper {
   padding: 0 50px;
   min-height: 100vh;

   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.wrapper.isMobile {
   padding: 0 10px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}
