.container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 10px 40px;

   // .btn {
   //    margin-top: 5px;
   //    margin-bottom: 5px;
   // }

   .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .btn {
         margin-right: 10px;
         margin-top: 5px;
         margin-bottom: 5px;
      }
   }

   .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn {
         margin-left: 10px;
         margin-top: 5px;
         margin-bottom: 5px;
      }
   }
}
