.container {
   position: relative;

   .title {
   }

   .left-icon {
      margin-right: 5px;
   }

   .right-icon {
      margin-left: 5px;
   }
}

.basic {
   &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 100%;
      box-sizing: border-box;
   }
}

.basicBlue {
   color: var(--white-color);
   background-color: var(--basic-blue-color);
   overflow: hidden;

   &::after {
      background-color: var(--basic-blue-color-after);
   }

   &:hover {
      background-color: var(--basic-blue-color-hover);
      &::after {
         transform: translateY(50%);
      }
   }
}

.basicRed {
   color: var(--white-color);
   background-color: var(--basic-red-color);
   overflow: hidden;

   &::after {
      background-color: var(--basic-red-color-after);
   }

   &:hover {
      background-color: var(--basic-red-color-hover);
      &::after {
         transform: translateY(50%);
      }
   }
}

.basicYellow {
   color: var(--white-color);
   background-color: var(--basic-yellow-color);
   overflow: hidden;

   &::after {
      background-color: var(--basic-yellow-color-after);
   }

   &:hover {
      background-color: var(--basic-yellow-color-hover);
      &::after {
         transform: translateY(50%);
      }
   }
}

.basicTeal {
   color: var(--white-color);
   background-color: var(--basic-teal-color);
   overflow: hidden;

   &::after {
      background-color: var(--basic-teal-color-after);
   }

   &:hover {
      background-color: var(--basic-teal-color-hover);
      &::after {
         transform: translateY(50%);
      }
   }
}

.outline {
   background-color: var(--white-color);
   border: solid 1px var(--black-color);

   &:hover {
      opacity: 70%;
   }
}

.cancel {
   background-color: var(--white-color);
   box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
   &:hover {
      opacity: 70%;
      background-color: rgb(223, 223, 223);
      box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
   }
}

.submitModal {
   background-color: rgb(204, 204, 204);
   color: var(--white-color);

   &:hover {
      opacity: 70%;
      background-color: rgb(158, 158, 158);
   }
}

.rounded {
   border-radius: 4px;
}

.big {
   padding: 10px 20px;
}

.w100 {
   width: 100%;
}
