.config-container {
   width: 100%;
   height: 100%;
   margin-left: 4rem;
   padding: 2rem;
   padding-right: 4rem;

   min-width: 200px;

   overflow-y: scroll;
   overflow-x: hidden;

   .config-container-content {
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .config-label {
         font-weight: var(--font-weight-big);
         margin-bottom: 1rem;
      }
   }
   .option-list {
      width: 100%;

      .option-item {
         display: flex;
         justify-content: space-between;
         align-items: center;

         .remove-icon {
            margin-left: 16px;
            margin-bottom: 16px;
            cursor: pointer;
         }
      }
   }

   .option-add-wrapper {
      margin: 0 auto;
      width: 100%;
      // display: flex;
   }
}
