.container {
   width: 100%;
   margin-left: 4rem;

   .config-container {
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .config-label {
         font-weight: var(--font-weight-big);
         margin-bottom: 1rem;
      }
   }
   .option-list {
      width: 100%;
   }

   .option-add-wrapper {
      margin: 0 auto;
   }
}
