.container {
   //
   .toggle-icon {
   }
   .menu {
      .item {
         font-size: 1.6rem;

         .left-icon {
            padding: 4px;
            margin-right: 1.2rem;
         }
      }
   }
}
