.wrapper {
   padding: 0 50px;
   min-height: 100vh;

   .container {
      flex: 1;

      .header {
         display: flex;
         flex-direction: column;
         align-items: flex-start;

         margin-bottom: 2rem;
         .title {
            margin: 0;
            padding: 0;
            margin-bottom: 1rem;
         }

         .btn-group {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
         }
         .btn {
            //  width: 100%;
            margin-right: 1rem;
            margin-bottom: 1rem;
         }
      }

      .table {
         border: 1px solid var(--border-color);
         position: relative;

         .tr {
            .th {
               text-align: left;
               padding-left: 1rem;
            }
            .td {
               border: none;
               text-align: left;
               padding-left: 1rem;
               color: var(--text-color);
            }
         }

         .presentation-infor-col {
            color: var(--black-clor);
            font-weight: var(--font-weight-big);

            .icon {
               margin-right: 0.5rem;
               color: var(--black-color);

               &:hover {
                  cursor: pointer;
                  color: var(--basic-blue-color);
               }
            }
         }

         .action {
            .icon {
               cursor: pointer;
            }
         }
      }

      .list {
         .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;

            .top {
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               color: var(--black-clor);
               font-weight: var(--font-weight-big);

               .infor {
                  .icon {
                     margin-right: 0.5rem;
                     color: var(--black-color);

                     &:hover {
                        cursor: pointer;
                        color: var(--basic-blue-color);
                     }
                  }
               }

               .action {
                  .icon {
                     cursor: pointer;
                  }
               }
            }
            .bottom {
               padding-left: 2rem;
               .owner {
                  color: rgba(0, 0, 0, 0.2);
               }
            }
         }
      }
   }
}
