.wrapper {
   padding: 0 50px;
   min-height: 100vh;

   // display: flex;
   // justify-content: space-between;
   // align-items: flex-start;

   .container {
      .header {
         display: flex;
         flex-direction: column;
         align-items: flex-start;

         margin-bottom: 2rem;
         .title {
            margin: 0;
            padding: 0;
            margin-bottom: 1rem;
         }

         .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .btn-group {
               width: 100%;
               display: flex;
               flex-direction: row;
               justify-content: flex-start;
               align-items: center;

               .btn {
                  margin: 0;
                  margin-right: 1rem;
               }
            }

            .filters {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               text-align: left;

               .limit {
                  width: 150px;
                  margin: 0;
                  margin-right: 1rem;
               }
               .select {
                  width: 200px;
                  margin: 0;
               }
            }
         }
      }

      // .table {
      //    border: 1px solid var(--border-color);
      //    position: relative;

      //    .tr {
      //       .th {
      //          text-align: left;
      //          padding-left: 1rem;
      //       }
      //       .td {
      //          border: none;
      //          text-align: left;
      //          padding-left: 1rem;
      //          color: rgba(0, 0, 0, 0.7);
      //       }
      //    }
      // }

      // .table {
      //    position: relative;
      //    .thead {
      //       border: 1px solid var(--border-color);
      //       border-top: 0px;
      //       .tr {
      //          .th {
      //             padding: 8px 16px;
      //             color: var(--black-color);
      //             font-weight: var(--font-weight-big);
      //             font-size: 1.6rem;
      //             text-align: left;
      //          }
      //       }
      //    }
      //    .tbody {
      //       border: 1px solid var(--border-color);
      //       .tr {
      //          .td {
      //             padding: 8px 16px;
      //             text-align: left;
      //             border: none;
      //             text-align: left;
      //             padding-left: 1rem;
      //             color: rgba(0, 0, 0, 0.7);
      //          }
      //       }
      //    }
      // }

      .footer {
         margin-top: 2rem;
      }
   }
}

.presentation-infor-cell {
   display: flex;
   color: var(--black-clor);
   font-weight: var(--font-weight-big);

   .icon {
      margin-right: 0.5rem;
      color: var(--black-color);

      &:hover {
         cursor: pointer;
         color: var(--basic-blue-color);
      }
   }
}
.wrapper.isMobile {
   padding: 0;
   width: 100%;

   .container {
      .header {
         .nav {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;

            .btn-group {
               width: 100%;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;

               .btn {
                  width: 100%;
                  margin: 0;
                  margin-bottom: 1rem;
               }
            }

            .filters {
               display: flex;
               flex-direction: column;
               width: 100%;
               text-align: left;

               .select {
                  width: 100%;
                  margin: 0;
                  margin-bottom: 1rem;
               }
               .limit {
                  width: 100%;
                  margin: 0;
                  margin-bottom: 1rem;
               }
            }
         }
      }
      .list {
         .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;

            .top {
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 100%;
               color: var(--black-clor);
               font-weight: var(--font-weight-big);

               .infor {
                  .icon {
                     margin-right: 0.5rem;
                     color: var(--black-color);

                     &:hover {
                        cursor: pointer;
                        color: var(--basic-blue-color);
                     }
                  }
               }
            }
            .bottom {
               padding-left: 2rem;
               .owner {
                  color: rgba(0, 0, 0, 0.2);
               }
            }
         }
      }
   }
}
