.input-group {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .input-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .input-field {
         margin-right: 10px;
      }
   }
}
