.container {
   background-color: var(--white-color);
   width: 225px;

   &.mobile {
      width: 100%;
      padding: 20px;
   }

   .top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .label {
         font-size: 16;
         font-weight: var(--font-weight-big);
         text-align: left;
         margin-bottom: 10px;
      }
   }
   .bottom {
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .label {
         font-size: 16;
         font-weight: var(--font-weight-big);
         text-align: left;
         margin-bottom: 10px;
      }
   }
}

.menu {
   list-style: none;
   margin: 0;
   padding: 0;
}

.select {
   width: 100%;
   text-align: left;
}
