.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

   .group-btns {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .btn-wrapper {
         margin-left: 10px;
      }

      .btn-toggle-icon {
         margin-left: 10px;
         order: 5;
      }
   }

   .search-input-wrapper {
      margin-top: 10px;
      align-self: stretch;
      margin-right: auto;
      display: block;
      border: 1px solid rgb(204, 204, 204);
      padding: 0 15px;
      min-height: 2.5rem;
      border-radius: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--text-color);
   }
   .search-icon {
      color: var(--text-color);
   }

   .search-input {
      margin-left: 10px;
      height: 100%;
   }

   .group-sidebar-toggle-btn {
      background-color: red;
      order: 5;
   }
}
