.container {
   padding: 0 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .tabs {
      align-self: stretch;
      margin-right: auto;
      display: block;

      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--text-color);

      .tab-item {
         border: 1px solid var(--border-color);
         height: 100%;

         padding: 0 16px;

         .tab-item-link {
            .tab-item-label {
               color: var(--text-color);
               font-size: 1.6rem;
            }
         }

         &:hover,
         &.active {
            .tab-item-link {
               .tab-item-label {
                  color: var(--black-color);
                  font-weight: var(--font-weight-big);
               }
            }
         }
      }
   }
}
