.container {
   padding: 0 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

   .tabs {
      align-self: stretch;
      margin-right: auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      // flex-wrap: wrap;

      color: var(--text-color);

      .tab-item {
         border: 1px solid var(--border-color);
         height: 100%;

         padding: 0 16px;

         .tab-item-link {
            .tab-item-label {
               color: var(--text-color);
               font-size: 1.6rem;
            }
         }

         &:hover,
         &.active {
            .tab-item-link {
               .tab-item-label {
                  color: var(--black-color);
                  font-weight: var(--font-weight-big);
               }
            }
         }
      }
   }
}

.group-btns {
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .btn-wrapper {
      margin-left: 10px;
   }

   .btn-toggle-icon {
      margin-left: 10px;
   }
}
